footer {
    grid-column: 1/-1;
    grid-row: 3;

    margin-top: 2em;

    place-content: center;

    text-align: center;
    width: 100%;
    height: 2em;

    font-family: 'fredoka';
    font-weight: bold;

    color: var(--clr-primary-base);
    border-radius: 0 0 2vh 2vh;

    background-color: var(--clr-sec-1);
}

.clear-storage {
    margin-inline-start: 1em;
    border: 1px black dotted;
    background-color: var(--clr-sec-base);
}