.main-header {
    display: flex;
    margin-block: 20px;

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    text-transform: uppercase;

    font-family: 'Rubik_Doodle_Shadow';
    font-size: 4rem;

    color: var(--clr-white-base);
    letter-spacing: 10px;
}

.Change-theme {
    font-family: 'fredoka';

    align-self: center;
    
    font-size: .5em;
}