.search-bar {
    grid-column: 2;
    width: 95%;
    height: 3em;


    padding: .5em;
    align-content: center;

    border-radius: 2vh;
    background-color: var(--clr-third--1);
    border: 1px black solid;
}

