.search-bar {
    width: 95%;
    max-height: 3em;

    padding: 1rem;

    align-self: center;
    align-content: center;

    font-size: 1.25em;
    color: var(--clr-primary-base);

    border-radius: 2vh;
    background-color: var(--clr-sec--1);
    border: 1px black solid;
}


.search-bar input {
    margin-inline-start: 1em;
}