.wiki-info {
    display: grid;
    grid-column: 2;
    gap: 1em;
    /* border: 1px black solid; */
}

.wiki-article {
    display: flex;
    flex-direction: column;

    padding: 1em;
    gap: 1em;

    text-align: justify;

    border-radius: 2vh;
    border: 1px black solid;

    color: var(--clr-primary-base);
    background-color: var(--clr-sec-1);
}

.wiki-article h4 {
    margin-inline-start: 2em;
    text-decoration: underline;

    text-underline-offset: 4px;
    text-decoration-color: var(--clr-primary-base);

}