*,
*::before,
*::after {
    box-sizing: border-box
}

html {
    margin: 1em;

    font-family: 'fredoka';
    
    color: var(--clr-white-base);
    background: var(--clr-primary-base);
}


h2 {
    grid-column: 1/-1;
}

video {
    grid-column: -1;
}