*,
*::before,
*::after {
    box-sizing: border-box
}

html {
    display: grid;
    height: 100%;

    margin: 1em;

    font-family: 'fredoka';
    align-content: center;

    color: var(--clr-white-base);
    background: var(--clr-primary-base);
}

body {}

h2 {
    grid-column: 1/-1;
}

video {
    grid-column: -1;
}

button {
    cursor: pointer;
}