.main-layout {
    display: grid;
    grid-template-columns: minmax(30px, auto) 1fr minmax(30px, auto);

    justify-self: center;
    justify-items: center;

    border: 1px black solid;
    border-radius: 2vh;
    background-color: var(--clr-background-base);
}


.main-content-layout {
    display: grid;
    grid-template-columns: 600px;
    grid-column: 2;

    justify-items: center;
    max-width: 1400px;
    gap: 1em;

    width: 100%;
    background-color: var(--clr-background-base);
}