@font-face {
	font-family: 'fredoka';
	src: url('../assaets/fonts/Fredoka/static/Fredoka-Regular.ttf');
}

@font-face {
	font-family: 'Rubik_Doodle_Shadow';
	src: url('../assaets/fonts/Rubik_Doodle_Shadow/RubikDoodleShadow-Regular.ttf');
}

/* .fa::before {
	font-family: fa-brands;
}

.fa.facebook::before {
	content: "\f39e";
} */