/* @font-face {
	font-family: fa-brands;
	src: url('/style/assets/fonts/fa/fa-brands-400.ttf');
}

@font-face {
	font-family: fa-solid;
	src: url('/style/assets/fonts/fa/fa-solid-900.ttf');
}

.fa::before {
	font-family: fa-brands;
}

.fa.facebook::before {
	content: "\f39e";
} */